@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap);

body {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  max-width: 1140px;
  font-family: Rubik, sans-serif;
  padding-top: 50px;
  display: flex;
}

.top {
  margin-top: 8px;
  margin-left: 157px;
}

.menu {
  margin-left: 40px;
  color: #4f5665;
}

.sing-in {
  margin-left: 150px;
  color: #0b132a;
  font-weight: bolder;
  font-size: 16px;
}

.sing {
  margin-left: 30px;
  border: 2px solid #f53855;
  border-radius: 30px;
  color: #f53855;
  padding: 10px;
}

.abc {
  font-family: Rubik, sans-serif;
}

.h1 {
  font-family: Rubik, sans-serif;
  font-size: 25px;
  color: #0b132a;
}

.content {
  display: flex;
  margin-top: 100px;
}

.button {
  margin-top: 50px;
  border: 2px solid #f53838;
  border-radius: 10px;
  display: block;
  width: 100px;
  height: 15px;
  background-color: #f53838;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  box-shadow: 5px 0 20px #f53838;
  padding: 20px 50px;
}

.content1 {
  height: 200px;
  margin-top: 100px;
  box-shadow: 0 -1px 50px -40px #0d1025;
  border-radius: 10px;
  display: flex;
}

.conteiner1 {
  display: flex;
  margin-top: 50px;
  margin-left: 90px;
}

.conteiner2 {
  display: flex;
  margin: 50px auto 0;
}

.conteiner3 {
  display: flex;
  margin-top: 50px;
  margin-right: 90px;
}

.up {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: -20px;
  margin-top: 30px;
  color: #0b132a;
}

.down {
  font-family: Rubik, sans-serif;
  font-size: 20px;
  color: #4f5665;
}

.vl {
  border-left: 2px solid #eeeff2;
  height: 125px;
  margin-left: 130px;
}

.conteiner4 {
  display: flex;
}

.all-text {
  margin-top: 150px;
  margin-left: 170px;
}

.sec {
  margin-top: 50px;
}

.sec-title {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #0b132a;
}

.content-right {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-left: 10px;
  display: flex;
  color: #4f5665;
}

.right-text {
  margin-left: 10px;
}

.title2 {
  text-align: center;
  font-family: Rubik, sans-serif;
}

.main-title2 {
  color: #0b132a;
  font-size: 35px;
  font-weight: bolder;
}

.down-title2 {
  color: #4f5665;
  font-size: 16px;
}

.benefits {
  display: flex;
  padding: 0 70px;
}

.ok {
  margin-left: 20px;
  font-family: Rubik, sans-serif;
  color: #4f5665;
}

.noMainTitle2 {
  font-family: Rubik, sans-serif;
  color: #0b132a;
  font-size: 18px;
  text-align: center;
}

.noDownTitle2 {
  font-family: Rubik, sans-serif;
  color: #0b132a;
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
}

.inf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.colon {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding-top: 80px;
}

.title2Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button2 {
  text-align: center;
  color: #f53838;
  border: 2px solid #f53838;
  border-radius: 50px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  margin: 0 30%;
  padding: 10px;
}

.mo2,
.mo3 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

.noDownTitle3 {
  margin-top: 25px;
  font-family: Rubik, sans-serif;
  color: #4f5665;
  font-size: 25px;
  margin-top: 0px;
}

.text,
.sec-down {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #4f5665;
}

.img1,
.img2,
.img3 {
  display: block;
  height: 55px;
  margin-top: 30px;
  margin-right: 30px;
}

.mo1 {
  margin-top: 150px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 4em;
}

.mo2 {
  margin-top: 100px;
}

.mo3 {
  margin-top: 50px;
}
